*.bak
*.kicad_pcb-bak
*\ -\ autosave\ *.TSC
firmware/.metadata
firmware/I2S to USB FS bridge/Debug
firmware/I2S to USB FS bridge/Release
firmware/Serial audio test generator/db/
firmware/Serial audio test generator/output_files/
firmware/Serial audio test generator/simulation/
kicad/transformer_board/fab/
kicad/usb_bridge/test_i2s_gen_cpld/fab/
kicad/usb_bridge/test_i2s_gen_discrete/fab/
firmware/Serial audio test generator/incremental_db/
fp-info-cache
software/spectrum_analyser/libusb-1.0.23/
software/spectrum_analyser/i2s_reader/i2s_reader/Debug/
software/spectrum_analyser/i2s_test/Debug/
software/spectrum_analyser/i2s_test/x64/Debug/i2s_test.exe.recipe
software/spectrum_analyser/i2s_test/x64/Debug/
software/spectrum_analyser/.vs/spectrum_analyser/v16/Browse.VC.db
software/spectrum_analyser/.vs/
firmware/Serial audio test generators/db/
firmware/Serial audio test generators/incremental_db/README
firmware/Serial audio test generators/incremental_db/compiled_partitions/
firmware/Serial audio test generators/output_files/
firmware/Serial audio test generators/simulation/
software/spectrum_analyser/bridge/x64/
software/spectrum_analyser/cppzmq-4.7.1/
software/spectrum_analyser/fftw-3.3.5-dll64/
software/spectrum_analyser/flatbuffers-1.12.0/
software/spectrum_analyser/libzmq-v141-x64-4_3_2/
software/spectrum_analyser/measure_thd/x64/
software/spectrum_analyser/spectrum_analyser/BridgeMessages/__pycache__/
